<div class="container" style="background:white;margin-top:100px; border: thin solid #C8C8C8; border-radius: 4px;">
  <div style="text-align:center;margin-top:20px;">
    <h1>Password Reset</h1>
    <br>
    <p>In order to reset your password please enter your e-mail address so we can email you a one time access link.</p>
    <br>
    <div class="col-sm-4" style="margin:auto;">
      <input type="text" class="form-control" style="margin-bottom:40px;" id="inputPassword" placeholder="e-mail address">
      <button type="submit" class="btn " style="background-color:orange;margin-bottom:40px; color:white">Send</button>
    </div>
  </div>
</div>

