<div class="container" style="background:white;margin-top:100px; border: thin solid #C8C8C8; border-radius: 4px;">
  <div style="text-align:center;margin-top:20px;">
    <h1>Account verification</h1>
    <br>
    <p>Your account with the e-mail address of: {{email}} has been verified!</p>
    <p>You can start using the website by signing in first.</p>
    <br>
    <div class="col-sm-4" style="margin:auto;">
      <form action="/sign-in">
        <button type="submit" class="btn " style="background-color:orange;margin-bottom:40px; color:white">Take me to sign in</button>
      </form>
    </div>
  </div>
</div>