<nav class="navbar navbar-toggleable-md navbar-light bg-faded" align="right">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " routerLink="">
      <img src="/assets/images/car-black-side-silhouette_626x626.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
      Kiadomazautom
    </a>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="border-left: thin solid rgba(0,0,0,.5);" routerLink="/verify-email/1">Verify Email</a>
        <a class="nav-item nav-link" style="border-left: thin solid rgba(0,0,0,.5);" routerLink="/sign-up">Sign Up</a>
        <a class="nav-item nav-link" style="border-left: thin solid rgba(0,0,0,.5);" routerLink="/sign-in">Sign In</a>
        <a class="nav-item nav-link" style="border-left: thin solid rgba(0,0,0,.5);" routerLink="/profile">Profile</a>
        <a class="nav-item nav-link" style="border-left: thin solid rgba(0,0,0,.5);" routerLink="/add-car">Add Car</a>
        <a class="nav-item nav-link" style="border-left: thin solid rgba(0,0,0,.5);" routerLink="/password-reset">Password Reset</a>
        <a class="nav-item nav-link" style="background-color:red;color:white; border-left: thin solid rgba(0,0,0,.5);border-right: thin solid rgba(0,0,0,.5);" routerLink="/create-ad">Create Ad</a>
      </div>
  </div>
</nav>