<div class="container" style="background:white; border: thin solid #C8C8C8; border-radius: 4px; margin-top:20px;">

  <div class="row " style="margin-bottom:25px; margin-top: 10px; margin-right: 5px; margin-left: 5px;">
    <div class="col-3">
      <div class="col" style="border: thin solid #C8C8C8; border-radius: 4px; text-align:center; margin-bottom:50px;">
        <img src="/assets/images/skoda.jpg" alt="skoda View" style="margin-bottom:20px; margin-top:10px; max-width: 100%;  max-height: 100%;">
        <p style="margin-bottom:10px;">{{Name}}</p>
        <star-rating-comp [starType]="'svg'" [rating]="4" [hoverEnabled]="false" [disabled]="true"></star-rating-comp>
        <a href="/">Kijelentkezés</a>
        <br>
      </div>

      <div class="col" style="border: thin solid #C8C8C8; border-radius: 4px;">
        <form>
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-4 col-form-label">Name:</label>
            <div class="col-sm-8">
              <p class="form-control-static">{{Name}}</p>
            </div>
          </div>
          <hr style="margin-bottom:5px;margin-top:5px;">
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-4 col-form-label">E-mail:</label>
            <div class="col-sm-8">
              <p class="form-control-static">oliwer@mail.com</p>
            </div>
          </div>
          <hr style="margin-bottom:5px;margin-top:5px;">
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-4 col-form-label">Ország:</label>
            <div class="col-sm-8">
              <p class="form-control-static">Hungary</p>
            </div>
          </div>
          <hr style="margin-bottom:5px;margin-top:5px;">
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-4 col-form-label">Régió:</label>
            <div class="col-sm-8">
              <p class="form-control-static">GyMS megye</p>
            </div>
          </div>
          <hr style="margin-bottom:5px;margin-top:5px;">
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-4 col-form-label">Város:</label>
            <div class="col-sm-8">
              <p class="form-control-static">Győr</p>
            </div>
          </div>
          <hr style="margin-bottom:5px;margin-top:5px;">
          <div class="form-group row" style="margin-bottom:0px;">
            <label class="col-sm-4 col-form-label">Utca:</label>
            <div class="col-sm-8">
              <p class="form-control-static">József Attila utca 14</p>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- List View template -->
    <div class="col-9">
      <div style="text-align:center;margin-top:20px;">
        <h1>Create Ad</h1>
        <br>
        <p>Please fill out this for to create an ad on the website.</p>
        <br>
      </div>
      <div class="row" style="margin-bottom:20px;">
        <div class="col-6" style="border: thin solid #C8C8C8;margin-left:5px;margin-right:-20px; border-radius: 4px; padding-right:40px;">
          <form>
            <div class="form-group row" style="margin-top:20px;">
              <label for="inputName" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputName" placeholder="Title">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputCountry" class="col-sm-2 col-form-label">Price</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputCountry" placeholder="Price">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputRegion" class="col-sm-2 col-form-label">Deposit</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputRegion" placeholder="Deposit">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputCity" class="col-sm-2 col-form-label">Ország</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputCity" placeholder="Ország">
                </div>
              </div>
            <div class="form-group row">
              <label for="inputCity" class="col-sm-2 col-form-label">Város</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputCity" placeholder="Város">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputStreet" class="col-sm-2 col-form-label">Utca</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputStreet" placeholder="Utca">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputHouseNumber" class="col-sm-2 col-form-label">Házszám</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputHouseNumber" placeholder="Házszám">
              </div>
            </div>
            <div class="form-group row">
                <label for="inputHouseNumber" class="col-sm-2 col-form-label">KM korlát</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputHouseNumber" placeholder="KM korlát">
                </div>
              </div>
          </form>
        </div>

        <div class="col-6" style="border: thin solid #C8C8C8;margin-left:20px;margin-right:-20px; border-radius: 4px;">
          <form>
            <div class="form-group row" style="margin-top:20px;">
              <label for="inputName" class="col-sm-3 col-form-label">My Car(s):</label>
              <div class="col-sm-9">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        Choose a car
                      </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">Car 1</a>
                    <a class="dropdown-item">Car 2</a>
                    <a class="dropdown-item">Car 3</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row" style="margin-top:20px;">
              <ul class="thumbnails image_picker_selector" style="margin-left:50px;">
                <li>
                  <div class="thumbnail"><img class="image_picker_image img-check notchecked" src="http://placekitten.com/180/200" style="max-width:150px;max-height:150px;"></div>
                </li>
                <li>
                  <div class="thumbnail "><img class="image_picker_image img-check notchecked" src="http://placekitten.com/180/200" style="max-width:150px;max-height:150px; "></div>
                </li>
                <li>
                  <div class="thumbnail "><img class="image_picker_image img-check notchecked" src="http://placekitten.com/180/200" style="max-width:150px;max-height:150px;"></div>
                </li>
                <li>
                  <div class="thumbnail "><img class="image_picker_image img-check notchecked" src="http://placekitten.com/180/200" style="max-width:150px;max-height:150px;"></div>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <div class="row" style="margin-bottom:20px;">
        <div class="col" style=" border: thin solid #C8C8C8;margin-left:5px;margin-right:-5px; border-radius: 4px;">
          <div class="form-group" style="margin-top:10px;">
            <label for="exampleTextarea">Description</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom:20px;">
        <button type="button" class="btn btn-primary">Create Ad</button>
      </div>
    </div>
  </div>
</div>