<!--The content below is only a placeholder and can be replaced.-->
<!-- Image and text -->
<navbar></navbar>

<router-outlet></router-outlet>


<footer>
  <br>
  <p>Created by: oliv  |  Contact information: <a href="mailto:someone@example.com"> someone@example.com</a>.</p>
  <hr>
  <p><a style="margin-right:20px; color:black;" routerLink="/create-ad">Privacy Policy</a><a style="margin-right:20px; color:black;"
      routerLink="/create-ad">Site Map</a><span>&copy; 2017 kiadomazautom.hu</span></p>
</footer>