/* You can add global styles to this file, and also import other style files */
footer {
    background-color:rgba(14, 15, 15, 0.42);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100%;
    overflow:hidden;
    text-align:center;
}
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 130px; /* bottom = footer height */
    padding: 0 0 25px;
    background: #E9E9E9;
}

.customClass{    
    background-color: #dd3;
    border-radius: 5px;
    margin:5px;
    width: 500px;        
}
.customClass .img-ul-upload{
    background-color: #000 !important;
}
.customClass .img-ul-clear{
    background-color: #B819BB !important;
}
.customClass .img-ul-drag-box-msg {
    color: purple !important;
}
.customClass .img-ul-container{
    background-color: #FF6CAD !important;
}

  